.home {
  background-image: url('/home.jpg');
  background-position: right bottom;
  background-size: 1200px;
  background-repeat: no-repeat;
 
  &__content {
    height: 100%;
    @include flex_vertical_between;
  }

  &__text {
    padding-top: 10rem;
    width: 720px;
    h1 {
      font-size: 2.7rem;
      line-height: 100%;
      font-weight: 600;
    }

    h2 {
      margin-top: .7rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    position: relative;
    background: #D74339;
    color: #fff;
    width: 280px;
    height: 90px;
    @include flex_center;
    margin-left: 1px;

    span {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 4rem;
      font-weight: 600;
      opacity: .1;
    }
  }
}