.categories {
  background-color: #D74339;
  color: white;
  height: 70vh;
  width: 90px;
  @include flex_center;

  &__action {
    transform: rotate(-90deg);
    @include flex_center;
    font-size: 1.5rem;
    img {
      margin-right: 2rem;
    }
  }
}