.navigation {
  position: relative;
  z-index: 1;
  height: 150px;
  @include flex_vertical_center;
  
  &__container {
    width: 100%;
    @include flex_vertical_end;
    justify-content: space-between;
  }

  &__actions {
    @include flex_vertical_end;
  }

  &__link {
    margin-left: 2rem;

    &--active {
      color: #D42810;
    }

    &:hover {
      color: #D42810;
      transition: .2s;
    }
  }

  &__contact {
    margin-left: 2rem;

    span {
      margin-left: .6rem;
    }
  }
}